{%extends 'index.template.html'%}{%block content%}

 <!--Add single page application with pagination bootstrap -->
<section class = "row" style = "display: flex; flex-direction: row; justify-content: center; font-size: 2em;">
    <ul style="list-style: none; display: flex; flex-direction: row; ">
        <li class = 'page-item' style="margin: 5px">
            <a id = "client-select" style= "border: #1d3461 2px solid; border-radius: 5px; color: #1d3461; box-shadow: 2px 2px 5px #1d3461;" data-dest="page-one" class = 'page-link' href="#">Client Experiences</a>
        </li> 
        <li class = 'page-item' style="margin: 5px;">
            <a id="edu-select" style= "border: #af5b5b 2px solid; border-radius: 5px; color: #af5b5b; box-shadow: 2px 2px 5px #af5b5b;" data-dest="page-two" class = 'page-link' href="#">Education Experiences</a>
        </li>
    </ul>
</section>
<sectionclass = "row">
    <form method = "POST" action="/all-experiences">
        <input type="text" style="margin-bottom:1em;"name="title-search" placeholder="search all by title"/>
        <input type="submit" name="send-title" value="Search"/>
    </form>
</section>

<div class="row pages" id = "page-one">
  <div class ="col-2"></div>
  <table class = "table col-8">
    <tr>
        <th>
            Work Profile
        </th>
        <th>
            Background
        </th>
        <th>
            Action
        </th>
    </tr>
    {%for each_exp in all_c_exp_unselect%}
    <tr>
        <td>
            <h5><u>{{each_exp['category']}}</u></h5>
            <h5>{{each_exp['level']}}</h5>
            <h6>Salary: SGD {{each_exp['salary']}}</h6>
        </td>
        <td>
            <p>Client/Colleague Gender: {{each_exp['gender']}}</p>
            <p>Client/Colleague Age: {{each_exp['age_range_listings']}} years old</p>
            <p>Title: {{each_exp['title'][:23]}}...</p>
        </td>
        <td>
            <a href = "/view-c-exp/{{each_exp['id']}}">view</a>
        </td>
            
    </tr>
    {%endfor%}
  </table>
 </div>
 
 <div class="row pages" id = "page-two">
  <div class ="col-2"></div>
  <table class = "table col-8">
    <tr>
        <th>
            Work Profile
        </th>
        <th>
            Background
        </th>
        <th>
            Action
        </th>
    </tr>
    {%for each_exp in all_e_exp_unselect%}
    <tr>
        <td>
            <h5><u>{{each_exp['category']}}</u></h5>
            <h5>{{each_exp['level']}}</h5>
            <h6>Salary: SGD{{each_exp['salary']}}</h6>
        </td>
        <td>
            <p>Education Level: {{each_exp['edu_level']}}</p>
            <p>Institute Type: {{each_exp['institute']}}</p>
            <p>My Role: {{each_exp['role']}}</p>
            <p>Student/Teacher Age: {{each_exp['age_range_listings']}} years old</p>
            <p>Education Subject: {{each_exp['topic']}}</p>
            <p>Title: {{each_exp['title'][:23]}}...</p>
        </td>
        <td>
            <a href = "/view-e-exp/{{each_exp['id']}}">view</a>
        </td>
            
    </tr>
    {%endfor%}
  </table>
 </div>


{%endblock%}