{%extends 'index.template.html'%}{%block content%}
<h1>Page 1</h1>
<section id="page-one" class = "row">
    <div class="list-group col-3" id="myList" role="tablist">
      {%for each_exp in all_client_exp%}
      <a class="list-group-item list-group-item-action active" data-toggle="list" href="#{{each_exp['id']}}" role="tab">{{each_exp['title']}}</a>
      {%endfor%}
    </div>
    
    <div class="tab-content col">
      {%for each_exp in all_client_exp%}
      <div class="tab-pane fade show active" id="{{each_exp['id']}}" role="tabpanel">{{each_exp['details']}}</div>
      {%endfor%}
    </div>
</section>
<h1>Page 2</h1>
<section id="page-two" class = "row">
    <div class="list-group col-3" id="myList" role="tablist">
      {%for each_exp in all_edu_exp%}
      <a class="list-group-item list-group-item-action active" data-toggle="list" href="#{{each_exp['id']}}" role="tab">{{each_exp['title']}}</a>
      {%endfor%}
    </div>
    
    <div class="tab-content col">
      {%for each_exp in all_edu_exp%}
      <div class="tab-pane fade show active" id="{{each_exp['id']}}" role="tabpanel">{{each_exp['details']}}</div>
      {%endfor%}
    </div>
</section>

{%endblock%}