{%extends "index.template.html"%} {%block content%}
<div class = 'row' style = "background-image: url('static/images/hero-image.jpg'); background-size: cover; background-position: top; background-attachment: fixed">
    <div class = "col-2"></div>
    <form class = "col-8" method='POST' style="border-radius: 5px; color: white; background-color: rgba(0,0,0,0.4);padding: 10px; margin-top: 1em; margin-bottom: 1em">
        <div class="form-group">
            <label for="type">Your Work category:</label>
            <select class="form-control" name="job_categories">
            {%for j in job_categories%}
          <option>{{j["id"]}}. {{j["category"]}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="type">Your Job-Level:</label>
            <select class="form-control" name="job_level">
            {%for jl in job_levels%}
          <option>{{jl["id"]}}. {{jl["level"]}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Monthly Salary in SGD:</label>
            <input type="number" class="form-control" name="salary" min="0", max="200000">
        </div>
        <div class="form-group">
            <label for="type">Age Group of the student:</label>
            <select class="form-control" name="edu_age_range">
            {%for a in age_ranges%}
          <option>{{a["age_range_listings"]}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Your Education Role:</label>
            <select class="form-control" name="edu_role">
                {%for r in edu_role_select%}
                <option>{{r['id']}}. {{r['role']}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Education Institute Type:</label>
            <select class="form-control" name="edu_institute">
                {%for i in edu_institute_select%}
                <option>{{i['id']}}. {{i['institute']}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Education Level:</label>
            <select class="form-control" name="edu_level">
                {%for level in edu_level_select%}
                <option>{{level['id']}}. {{level['edu_level']}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" name="edu_exp_title">
        </div>
        <div class="form-group">
            <label>Subject:</label>
            <select class="form-control" name="edu_subject">
            {%for t in edu_topics%}
                <option>{{t['id']}}. {{t['topic']}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Details:</label>
            <textarea class="form-control" name="edu_exp_details" rows="15" cols="30"></textarea>
        </div>
        <div>
            <label>Date:</label>
            <input class="form-control" type="date" name="date_created">
        </div></br>
        <button type="submit" value="create" class="btn btn-primary">Share</button>
    </form>
</div>
{%endblock%}
