{%extends 'index.template.html'%}{%block content%}
<div class='row'>
    <div class = 'col-4' style="padding: 10px; background-color: #eaeaea">
       <h2>My Work Profile:</h2>
        <p><u>{{displayclientexp[0]['category']}}</u></p>
        <p>{{displayclientexp[0]['level']}}</p>
        <p>Salary: SGD {{displayclientexp[0]['salary']}}</p>
        <hr>
        <h2>Background:</h2>
        <p>Client/Colleague Gender: {{displayclientexp[0]['gender']}}</p>
        <p>Client/Colleague Age Range: {{displayclientexp[0]['age_range_listings']}} years old</p>
        <hr>
        <h2>My Experience:</h2>
        <h5><u>{{displayclientexp[0]['title']}}</u></h5>
        <p>{{displayclientexp[0]['date']}}</p>
        <p>{{displayclientexp[0]['details']}}</p> 
    </div>
    <form class="col-8" method='POST' style="padding: 10px; margin-top: 1em; margin-bottom: 1em">
        <div class="form-group">
            <label for="type">Your Work category:</label>
            <select class="form-control" name="job_categories">
            {%for j in job_categories%}
          <option value="{{j["id"]}}">{{j["category"]}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="type">Your Job-Level:</label>
            <select class="form-control" name="job_level">
            {%for jl in job_levels%}
          <option value="{{jl["id"]}}">{{jl["level"]}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Monthly Salary in SGD:</label>
            <input type="number" class="form-control" name="salary" min="0" , max="200000">
        </div>
        <div class="form-group">
            <label for="type">Client/Colleague Age Range:</label>
            <select class="form-control" name="client_age_range">
            {%for a in age_ranges%}
          <option value="{{a["id"]}}">{{a["age_range_listings"]}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="type">Client/Colleague Gender:</label>
            <select class="form-control" name="client_gender">
                {%for g in gender_select%}
                <option value="{{g['id']}}" {%if g['gender'] == displayclientexp[0]['gender']%} selected="selected" {%endif%}>{{g['gender']}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label>Title of your Experience:</label>
            <input type="text" class="form-control" name="client_exp_title">
        </div>
        <div class="form-group">
            <label>Details:</label>
            <textarea class="form-control" name="client_exp_details" rows="15" cols="30"></textarea>
        </div>
        <div>
            <label>Date of entry:</label>
            <input class="form-control" type="date" name="date_created">
        </div>
        </br>
        <button type="submit" value="apply" class="btn btn-primary">Apply Changes</button>
    </form>
</div>


{%endblock%}
