{%extends "index.template.html"%} {%block content%}


<section class="row"style = "background-image: url('static/images/hero-image.jpg'); background-size: cover; background-position: top; background-attachment: fixed">
    <section class="col-12" style = "display:flex; flex-direction:row;justify-content:space-around; margin-top:40px;">
        <a style="margin:3px;" href="/create-client-experience" class = "btn btn-primary">Share your client experiences with us</a>
        <a style="margin:3px;" href="/create-edu-experience" class = "btn btn-primary">Share your education experiences with us</a>
    </section>
    <div class= "col-2"></div>
    <form method='POST' style="background-color: rgba(0,0,0,0.4); padding: 10px; margin-top: 10em; margin-bottom: 10em; color: white; border-radius: 5px;" class="col-8">
        <h2>Search for Experiences:</h2>
    <h5>Work Profile:</h5>
    <div class="form-group">
        <select class="form-control" name="job_categories">
            <option>-Any-</option>
        {%for j in job_categories%}
      <option>{{j["id"]}}. {{j['category']}}</option>
        {%endfor%}
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" name="level">
            <option>-Any-</option>
        {%for jl in job_levels%}
      <option>{{jl["id"]}}. {{jl['level']}}</option>
        {%endfor%}
        </select>
    </div>
    <h5>Types of Experiences:</h5>
    <div class="form-group">
        <input type="radio" name="experience_type" value="all_exp" checked>
        <label>Client and Education Experiences</label><br>
        <input type="radio" name="experience_type" value="salary">
        <label>Salary Comparisons only</label>
    </div>
    <button type="submit" value="create" class="btn btn-primary">Search</button>
</form>
</section>
{%endblock%}