{%extends 'index.template.html'%}{%block content%}

<table class = "table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                <h2>Job Level: {{joblevel_salary[0]['level']}}</h2>
            </th>
        </tr>
        <tr>
            <th scope="col">
                Job Category
            </th>
            <th scope="col">
                Salary
            </th>
        </tr>
    </thead>
    <tbody>
        {%for s in joblevel_salary%}
        <tr>
            <td>
                {{s['category']}}
            </td>
            <td>
                SGD {{s['salary']}}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}