{%extends 'index.template.html'%}{%block content%}

<table class = "table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                <h2>Job Category: {{jobcat_salary[0]['category']}}</h2>
            </th>
        </tr>
        <tr>
            <th scope="col">
                Job Level
            </th>
            <th scope="col">
                Salary
            </th>
        </tr>
    </thead>
    <tbody>
        {%for s in jobcat_salary%}
        <tr>
            <td>
                {{s['level']}}
            </td>
            <td>
                SGD {{s['salary']}}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}