{%extends 'index.template.html'%}{%block content%}
<div class = "row">
    <section class = "col-12">
        <a href="/edit-client-exp/{{displayclientexp[0]['id']}}" type="button" class="btn btn-outline-info" style = "margin-top: 2em; margin-left: 2em;">Edit</a>
        <a href = "/delete-client-exp/{{displayclientexp[0]['id']}}" type="button" class="btn btn-outline-danger alert_delete" style = "margin-top: 2em; margin-left: 2em;">Delete</a>
    </section>
    <section style = "background-color: #eaeaea; border-radius: 5px; margin: 1.5em;">
        <table class = 'table'>
            <tr>
                <td>
                    <h2>Author's Work Profile:</h2>
                    <p><u>{{displayclientexp[0]['category']}}</u></p>
                    <p>{{displayclientexp[0]['level']}}</p>
                    <p>Salary: SGD {{displayclientexp[0]['salary']}}</p>
                    <hr>
                    <h2>Background:</h2>
                    <p>Client Gender: {{displayclientexp[0]['gender']}}</p>
                    <p>Age Range of Client: {{displayclientexp[0]['age_range_listings']}} years old</p>
                </td>
                <td>
                    <h2>My Experience:</h2>
                    <h5><u>{{displayclientexp[0]['title']}}</u></h5>
                    <p>{{displayclientexp[0]['date']}}</p>
                    <p>{{displayclientexp[0]['details']}}</p> 
                </td>
            </tr>
        </table>
    </section>
</div>
{%endblock%}