{%extends 'index.template.html'%}{%block content%}

<table style = "margin:6em;"class = 'table col-10'>
    <tr>
        <td>
            <h2>Author's Work Profile:</h2>
            <h5><u>{{displayeduexp[0]['category']}}</u></h5>
            <h5>{{displayeduexp[0]['level']}}</h5>
            <h6>Salary: SGD{{displayeduexp[0]['salary']}}</h6>
            <hr>
            <h2>Background:</h2>
            <p>Education Level: {{displayeduexp[0]['edu_level']}}</p>
            <p>Institute Type: {{displayeduexp[0]['institute']}}</p>
            <p>My Role: {{displayeduexp[0]['role']}}</p>
            <p>Age Range of Student: {{displayeduexp[0]['age_range_listings']}} years old</p>
            <p>Related Subject: {{displayeduexp[0]['topic']}}</p>
        </td>
        <td>
            <h2><u>{{displayeduexp[0]['title']}}</u></h2>
            <h5>{{displayeduexp[0]['date']}}</h5>
            <p>{{displayeduexp[0]['details']}}</p>
        </td>
    </tr
    <tr>
        <td>
        </td>
    </tr>
    
</table>

{%endblock%}